<div class="container mt-5">
  <h1>List of Works</h1>

  <h2>Albums</h2>
  <%= render partial: "works_table", locals: { work_type: @albums } %>

  <h2>Books</h2>
  <%= render partial: "works_table", locals: { work_type: @books } %>

  <h2>Movies</h2>
  <%= render partial: "works_table", locals: { work_type: @movies } %>

  <%= link_to "View top media", works_path, class: "btn btn-primary" %>    
  <%= link_to "Add a new work", works_path, class: "btn btn-primary" %>    
</div>