<div class="container mt-5">
  <h1>List of Works</h1>

  <h2>Albums</h2>
  <table class="table">
    <thead class="">
      <tr>
        <th scope="col">Votes</th>
        <th scope="col">Title</th>
        <th scope="col">Created By</th>
        <th scope="col">Published</th>
        <th scope="col">Upvote</th>
      </tr>
    </thead>
    <tbody>
      <% @albums.each do |album| %>
        
          <tr class="list-group-item-action">
            <th scope="row"> 1 </th>
            <td> <%= link_to album.title, work_path(album) %> </td>
            <td> <%= album.creator %> </td>
            <td> <%= album.publication_year %> </td>
            <td> Upvote </td>
          </tr>
        
      <% end %> 
    </tbody>
  </table>

  <h2>Books</h2>
  <table class="table">
    <thead class="">
      <tr>
        <th scope="col">Votes</th>
        <th scope="col">Title</th>
        <th scope="col">Created By</th>
        <th scope="col">Published</th>
        <th scope="col">Upvote</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        
          <tr class="list-group-item-action">
            <th scope="row"> 1 </th>
            <td> <%= link_to book.title, work_path(book) %> </td>
            <td> <%= book.creator %> </td>
            <td> <%= book.publication_year %> </td>
            <td> Upvote </td>
          </tr>
        
      <% end %> 
    </tbody>
  </table>

  <h2>Movies</h2>
  <table class="table">
    <thead class="">
      <tr>
        <th scope="col">Votes</th>
        <th scope="col">Title</th>
        <th scope="col">Created By</th>
        <th scope="col">Published</th>
        <th scope="col">Upvote</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        
          <tr class="list-group-item-action">
            <th scope="row"> 1 </th>
            <td> <%= link_to movie.title, work_path(movie) %> </td>
            <td> <%= movie.creator %> </td>
            <td> <%= movie.publication_year %> </td>
            <td> Upvote </td>
          </tr>
        
      <% end %> 
    </tbody>
  </table>
</div>