<h2>Add a new work</h2>

<%= form_with model: @work do |f| %>

  <div class="form-group">
    <%= f.label "Category" %>
    <%= f.select :category, ["album", "book", "movie"], {}, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Title" %>
    <%= f.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Creator" %>
    <%= f.text_field :creator, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Publication year" %>
    <%= f.text_field :publication_year, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Description" %>
    <%= f.text_area :description, class:"form-control" %>
  </div>

  <%= f.submit "Create Work", class: "btn btn-primary" %>
<% end %>