<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app-header">
      <h1 class="app-header__header">
        <%= link_to "Media Ranker", root_path, class: "" %>
        <small>Ranking the Best of Everything</small> 
      </h1>

      <nav class="navbar navbar-expand-lg app-header__nav">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          MENU
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "View top media", root_path, class: "nav-link app-header__nav__item" %>
            </li>
            <li class="nav-item">
              <%= link_to "View all media", works_path, class: "nav-link app-header__nav__item" %>
            </li>
            <li class="nav-item">
              <%= link_to "Add a new work", new_work_path, class: "nav-link app-header__nav__item" %>
            </li>
            <li class="nav-item">
              <%= link_to "View all users", users_path, class: "nav-link app-header__nav__item" %>
            </li>
          </ul>

          <ul class="navbar-nav">
            <% if session[:user_id] %>
              <%= link_to "Logged in as #{User.find_by(id: session[:user_id]).name}", user_path(session[:user_id]), class: "btn btn-primary app-header__nav__button" %>
              <%= link_to "Log Out", logout_path, method: :post, class: "btn btn-primary app-header__nav__button" %>    
            <% else %>
              <%= link_to "Log In", login_path, class: "btn btn-primary app-header__nav__button" %>    
            <% end %>
          </ul>
        </div>
      </nav>

    </header>

    <section>
      <% flash.each do |name, message| %>
        <div class="<%= flash_class(name) %> mt-4">
          <%= sanitize(message) %>
        </div>  
      <% end %>
    </section>
    
    <main>
      <%= yield %>
    </main>
  </body>
</html>
